@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <h1>Unlimited rentals for £4.99 / Month</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
</div>

<div class="row tiles">
    <div class="span2">
        <img src="~/Content/Covers/game_of_thrones.jpg" />
        <span style="text-align: center; display: block; width: 100%">Game of thrones</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="span2">
        <img src="~/Content/Covers/hobbit.jpg" />
        <span style="text-align: center; display: block; width: 100%">Hobbit</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="span2">
        <img src="~/Content/Covers/les_miserables.jpg" />
        <span style="text-align: center; display: block; width: 100%">Les Miserables</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="span2">
        <img src="~/Content/Covers/rockshow.jpg" />
        <span style="text-align: center; display: block; width: 100%">Rockshow</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="span2">
        <img src="~/Content/Covers/skyfall.jpg" />
        <span style="text-align: center; display: block; width: 100%">Skyfall</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    <div class="span2">
        <img src="~/Content/Covers/twilight.jpg" />
        <span style="text-align: center; display: block; width: 100%">Twilight</span>
        <div style="text-align: center; width: 100%">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
</div>
