<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootswatch: Spruce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="../">Oovie DVD Rentals</a>
                <div class="nav-collapse collapse" id="main-menu">
                    <ul class="nav" id="main-menu-left">
                        <li><a href="#">Browse</a></li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                        <li><a href="#">My List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <br>
        <br>
        <br>
        <br>
        @RenderBody()
        
        <hr>

        <footer id="footer">
            <p class="pull-right"><a href="#top">Back to top</a></p>
            <div class="links">
                &copy; Peter Beams 2013
            </div>
        </footer>

    </div>
    <!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/jquery.smooth-scroll.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootswatch.js"></script>


</body>
</html>
